body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center aligns the form elements vertically */
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the element's total width */
}

button {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-text {
    flex: 1;
}

.task-delete {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}